Source: sonic-bmc
Section: net
Priority: optional
Maintainer: Your Name <you@example.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/sonic-net/SONiC

Package: sonic-bmc
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BMC management module for SONiC
 This package provides BMC related functionality.