Source: sonic-bmc
Section: net
Priority: extra
Maintainer: Your Name <your@email.com>
Build-Depends: debhelper (>= 10), gcc
Standards-Version: 4.1.1

Package: sonic-bmc
Architecture: amd64
Depends: libc6
Description: Simple SONiC BMC module example
 A basic C program that logs "hello world" to syslog every 3 seconds.