Source: sonic-platform-bmc
Section: main
Priority: extra
Maintainer: Deepak Singhal <deepsinghal@microsoft.com>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.3

Package: sonic-platform-bmc
Architecture: amd64
Description: Sonic BMC platform Module
